* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}
.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 4px;
    border-radius: 5px;
}